{% extends "base.html.twig" %}

{% block body %}
<div class="border border-white rounded text-center d-grid" style="height: 100%; width: 100%;">
   <a href="{{path('pizzon_bundle')}}" class="text-white text-decoration-none fs-5">
       <i class="ti ti-pizza" style='font-size: 8rem;'></i>
       <h3>Pizzón Pizza</h3>
   </a>
</div>
{% endblock %}